extends base.pug

block content
    div 
        video#preview
        button#startBtn Start record
    if errorMessage 
        div=errorMessage
        small Check #{path}
    form(method="POST" enctype="multipart/form-data")
        label(for="video") Video File 
        input(type="file", accept="video/*", id="video", name="video", required)
        input(placeholder="Title", required, type="text", name="title" , minLength: 5)
        input(placeholder="Description", required, type="text", name="description" maxLength: 100)
        input(placeholder="Hashtags, separated by comma.", required, type="text", name="hashtags")
        input(type="submit", value="Upload Video")

block scripts 
    script(src="/assets/js/recorder.js") 
